@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    min-height: 100vh;
    margin: auto;
}

.form-div {
    display: flex;
    flex-direction: column;
}

.form-div form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3vh 2vw;
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.form-div form .instaLogo {
    width: 200px;
    margin: 20px 0;
}

.form-div form .input {
    width: 90%;
    padding: .6rem;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    margin: 3px;
}

.login-btn {
    width: 97%;
    padding: .4rem;
    font-weight: 700;
    background-color: rgb(1, 183, 255);
    border: none;
    border-radius: 8px;
    margin: 8px 0px;
    color: white;
}

#or {
    margin: 20px 0;
}

#or:before,
#or:after {
    content: '------------------------';
    color: rgba(128, 128, 128, 0.7);
    margin: 0 10px;
}

.fb-login {
    font-weight: 700;
    font-size: 95%;
    color: rgb(85, 0, 255);
    margin-bottom: 30px;
    margin-top: 10px;
}

.sign-up {
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 20px;
    margin: 10px;
}

.get-app {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.store {
    display: flex;
    align-items: center;
}

#play {
    width: 190px;
}

#microsoft {
    width: 135px;
    border-radius: 8px;
}

@media(max-width: 576px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family: 'Dancing Script', cursive; */
        font-family: "Roboto Slab", serif;
    }

    body {
        /* background-color: black; */
        font-family: "Dancing Script", cursive;
        font-family: "Roboto Slab", serif;
    }

    .title_inst {
        text-align: center;
        /* font-family: Dancing Script; */
    }

    .fatherEl {
        border: 1px solid rgba(22, 21, 21, 0.3);
        text-align: center;
        line-height: 65px;
    }

    .form-control {
        font-family: "Roboto Slab", serif;
    }

    .logo_insta__01 {
        width: 60%;
    }

    .btn {
        width: 85%;
        font-family: "Roboto Slab", serif;
        font-size: 15px;
        font-family: "Roboto Slab", serif;
        font-weight: 500;
    }

    .or {
        color: rgba(22, 21, 21, 0.5);
        font-size: 18px;
    }

    .line {
        border: 1px solid rgba(22, 21, 21, 0.5);
        width: 30%;
    }

    .graf {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .grai {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    a {
        text-decoration: none;
    }

    .facebook_span {
        font-size: 15px;
        color: rgba(5, 5, 180, 0.8);
    }

    .forget_password {
        font-size: 12px;
        color: rgba(41, 37, 37, 0.8);
    }

    .bottom-registration {
        border: 1px solid rgba(22, 21, 21, 0.3);
        width: 29.5%;
        text-align: center;
        padding: 15px;
    }

    .registration_span {
        font-size: 13px;
    }

    .registration_a {
        font-size: 15px;
        font-weight: 500;
    }

    .size {
        width: 29%;
    }

    .i-img {
        background-position: 0px -52px;
        background-size: auto;
        width: 175px;
        height: 51px;
        background-repeat: no-repeat;
        display: inline-block;
        cursor: pointer;
    }

    #eror_message {
        line-height: 20px;
        width: 75%;
        color: red;
        font-size: 13px;
    }

    .key {
        background-color: rgb(77, 166, 250);
        border: none;
    }

    .key:hover {
        background-color: rgb(77, 166, 250);
        border: none;
    }

    .key:active {
        background-color: rgb(77, 166, 250);
        border: none;
    }

    .i-img {
        width: 80%;
        margin-left: 24.3%;
    }

    .size {
        width: 90%;
        border: none;
    }

    .bottom-registration {
        width: 100%;
        border: none;
    }

    body {
        overflow: hidden;
    }

    .container {
        width: 100%;
    }

    .eror {
        border: 1px solid red;
        box-shadow: 0px 0px 5px 3px rgb(220, 66, 66, 0.8);
    }

}